<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>General</h3>
    <ul class="nav side-menu">
      <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="/">Main</a></li>
          <li><a href="/calendar/list">Manage Calendars</a></li>
        </ul>
      </li>
       
    </ul>
  </div>
 

</div>