
{% extends 'base-gentelella.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block stylesheets %}
    <!-- Bootstrap Colorpicker -->
    <link href="{{ asset('assets/vendors/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css') }}" rel="stylesheet">
{% endblock %}
{% block title %}Create Calendar{% endblock %}

{% block body %}

    <div class="right_col" role="main">
        <div class="">

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">



                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Create Calendar</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br>

                            {{ form_start(form, { 'attr' : { 'class': 'form-horizontal form-label-left' } }) }}

                            <div class="form-group">
                                {{ form_label(form.title , null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} } ) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.title,  { 'attr': {'class': 'form-control'} } ) }}
                                </div>
                            </div>



                            <div class="form-group">
                                {{ form_label(form.description , null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} } ) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.description,  { 'attr': {'class': 'form-control'} } ) }}
                                </div>
                            </div>


                            <div class="form-group">
                                {{ form_label(form.defaultColor , null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} } ) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="colorpicker-element input-group">
                                        {{ form_widget(form.defaultColor,  { 'attr': {'class': 'form-control'} } ) }}
                                        <span class="input-group-addon"><i></i></span>
                                    </div>


                                </div>
                            </div>




                            <div class="ln_solid"></div>

                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    {{ form_widget(form.save, { 'attr': {class: 'btn btn-primary'}}) }}
                                </div>
                            </div>
                            {{ form_end(form) }}

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


    {% block javascripts %}
        <!-- Bootstrap Colorpicker -->
        <script src="{{ asset('assets/vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js') }}"></script>
    {% endblock %}




{% endblock %}
