
{% extends 'base-gentelella.html.twig' %}

{% block stylesheets %}

{% endblock %}
{% block title %}Manage calendars{% endblock %}

{% block body %}

    <div class="right_col" role="main">


            <div class="row">



                <div class="col-md-12 col-sm-12 col-xs-12">


                    <div class="x_panel">
                        <div class="x_title">

                            <h2>My Calendars</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <a class="btn btn-primary" href="/calendar/create">Create Calendar</a>
                            <br>
                            <br>

                            <table class="table  table-striped table-hover">
                                <thead>
                                <th>Id</th>
                                <th>Title</th>

                                </thead>
                                <tbody>


                                {% for cal in calendars %}
                                    <tr data-id="{{ cal.id }}">
                                        <td>{{ cal.id }}</td>
                                        <td>{{ cal.title }}</td>
                                        <td>
                                            <a href="/calendar/edit/{{  cal.id }}" class="btn btn-link">Edit</a>
                                            <a href="/calendar/delete/{{  cal.id }}" class="btn btn-link">Delete</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>

                        </div>
                    </div>





                </div>
            </div>
        </div>
    </div>


    {% block javascripts %}


    {% endblock %}




{% endblock %}
