
{% extends 'base-gentelella.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('assets/vendors/fullcalendar/dist/fullcalendar.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/fullcalendar/dist/fullcalendar.print.css')}}" rel="stylesheet" media="print">
    <!-- iCheck -->
    <link href="{{ asset('assets/vendors/iCheck/skins/flat/green.css')}}" rel="stylesheet">
{% endblock %}
{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
          <h2>Calendar Events <small>Sessions</small></h2>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-2 col-sm-2 ">


            {% for cal in calendars %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="flat calendar-filter" checked="checked" data-id="{{ cal.id }}"> {{ cal.title }}
                    </label>
                </div>

            {% endfor %}



        </div>
        <div class="col-md-10 col-sm-10 col-xs-12">


          <div id='calendar'></div>


      </div>
    </div>
  </div>
</div>

    <!-- calendar modal -->
    <div id="CalenderModalNew" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <form method="post" action="/calendar/create_event"  class="form-horizontal calender" role="form">


            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">New Calendar Entry</h4>
                    </div>
                    <div class="modal-body">
                        <div id="testmodal" style="padding: 5px 20px;">

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Start</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control"  name="dStart">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">End</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control"  name="dEnd">
                                </div>
                            </div>




                            <div class="form-group">
                                <label class="col-sm-3 control-label">Title</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="title" name="title">
                                </div>
                            </div>



                            <div class="form-group">
                                <label class="col-sm-3 control-label">Calendar</label>
                                <div class="col-sm-9">
                                     <select name="calendar" class="form-control">

                                         {% for cal in calendars %}
                                             <option value="{{ cal.id }}">{{ cal.title }}</option>
                                         {% endfor %}

                                     </select>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default antoclose" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary antosubmit">Save changes</button>
                    </div>
                </div>
            </div>
    </div>
    </form>

    <div id="CalenderModalEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel2">Edit Calendar Entry</h4>
                </div>
                <div class="modal-body">

                    <div id="testmodal2" style="padding: 5px 20px;">
                        <form id="antoform2" class="form-horizontal calender" role="form">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Title</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="title2" name="title2">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Description</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" style="height:55px;" id="descr2" name="descr"></textarea>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default antoclose2" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary antosubmit2">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div id="fc_create" data-toggle="modal" data-target="#CalenderModalNew"></div>
    <div id="fc_edit" data-toggle="modal" data-target="#CalenderModalEdit"></div>
 {% block javascripts %}
     <!-- FullCalendar -->
     <script src="{{ asset('assets/vendors/moment/min/moment.min.js') }}"></script>
     <script src="{{ asset('assets/vendors/fullcalendar/dist/fullcalendar.js') }}"></script>
     <script src="{{ asset('assets/js/view_calendar.js') }}"></script>
     <!-- iCheck -->
     <script src="{{ asset('assets/vendors/iCheck/icheck.min.js') }}"></script>
 {% endblock %}



 
{% endblock %}
